.Message {
		padding: 10px 0;
		border-bottom: 5px solid cornflowerblue;
}
.Message p {
		margin: 5px 0;
		font-size: 16px;
		color: darkslateblue;
		font-weight: bold;
}
.Message span {
		color: black;
		font-weight: normal;
}